RPC_URL=https://base-mainnet.g.alchemy.com/v2/YOUR_ALCHEMY_KEY
PRIVATE_KEY=
PINATA_JWT=
VERIFIER_ROUTER_ADDRESS=0x0b144e07a0826182b6b59788c34b32bfa86fb711
TRADING_SIGNAL_ADDRESS=0xEe747ac1869f9F805dCa40Ef2E6197C2F2e25f16
PROGRAM_URL=https://gateway.pinata.cloud/ipfs/QmZzCHGGQiLEhXzBfftyHFjGVBUsJxZtfpDt9zSkPAbVrX

# Boundless Market Configuration for Base Mainnet
CHAIN_ID=8453
STORAGE_PROVIDER=pinata
BOUNDLESS_MARKET_ADDRESS=0xfd152dadc5183870710fe54f939eae3ab9f0fe82
SET_VERIFIER_ADDRESS=0x1Ab08498CfF17b9723ED67143A050c8E8c2e3104
VERIFIER_ROUTER_ADDRESS=0x0b144e07a0826182b6b59788c34b32bfa86fb711